<section class="adventure-desciprtion">
  <div class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide"> 
          <img src=<%= adventure.get("image1") %> />
        </li>
    </ul>
  </div>
  
  <div class="options clearfix" id="tab-options">
    <a href="" class="tab-button" id="show-geo" data-about="geography"><span data-about="geography"><%= translate["geo"] %></span></a>
    <a href="" class="tab-button" id="show-nature" data-about="nature"><span data-about="nature"><%= translate["nature"] %></span></a>
    <a href="" class="tab-button" id="show-history" data-about="history"><span data-about="history"><%= translate["history"] %></span></a>
    <a class="map-link" href=<%= "#adventure/" + adventure.get('objectId') + '/map' %>><span><%= translate["map"] %></span></a>
  </div>

  <article>
    <section id="description" class="tab active">
      <h1>
        <img src="/img/icons/nature.png" data-icon="nature" id="icon-nature" />
        <img class="active" src="/img/icons/geo.png" data-icon="geography" id="icon-geography" />
        <img data-icon="history" src="/img/icons/history.png" id="icon-history" />
        <%= adventure.get("name_RS") %>
      </h1>
      <p class="geography"><strong>Vrh:</strong> <span><%= adventure.get("peek") %></span></p>
      <p class="geography"><strong>Najviša tačka:</strong> <span><%= adventure.get("highestPoint") %> m</span></p>
      <p class="geography"><strong>Najniža tačka:</strong> <span><%= adventure.get("lowestPoint") %> m</span></p>
      <p class="geography"><strong>Nivo težine (1-10):</strong> <span><%= adventure.get("shapeLevel") %></span></p>
      <p class="geography"><%= adventure.get("description_"+ ACTIVE_LANG) %></p>
    </section>
  </article>
</section>

<footer class="adventures-footer">
  <a href="#adventures" class="back"><%= translate["back"] %></a>
</footer>
