<div class="adventures-list">

<% _.each(adventures, function(adventure){ %>
  <a href=<%= "#adventure/" + adventure.get('objectId') %> shape-level="<%= adventure.get('shapeLevel') %>" tehnical-level="<%= adventure.get('tehnicalLevel') %>" longitude = <%= adventure.get('longitude') %> latitude = <%= adventure.get('latitude') %> data-distance = <%= adventure.get('distance') %> >
    <span class="adventure-icon"><img src="/img/icons/dummy.png" height="42" width="42"/></span>
    <span class="title"><%= adventure.get('name_RS') %></span>
    <div><span class="height"><%= adventure.get('highestPoint') %>m</span></div>
  </a>
<% }); %>
</div>

<footer class="adventures-footer">
	<div class="footer-links" id="footer-links">
		<a href="" id="sort_by_location" data-sort-by="distance"><span class="icon distance"></span><%= translate["distance"]  %></a>
		<a href="" id="sort_by_level" data-sort-by="shapeLevel"><span class="icon difficulty"></span><%= translate["difficulty"]  %></a>
		<a href="" id="sort_by_height" data-sort-by="highestPoint"><span class="icon height"></span><%= translate["height"]  %></a>
		<a href="" id="sort_alphabetically" data-sort-by="name_RS"><span class="icon alphabet"></span><%= translate["alphabet"]  %></a>
	</div>
	<a href="#" class="back"><%= translate["back"]  %></a>
	<a href="#" id="sort" class="sort"><%= translate["sort"]  %></a>
</footer>
