<div class="clubs-list">
  <%_.each(clubs, function(club){ %>
    <div class="club-container">
      
      <img src=<%= club.get('url_logo') %> height="42" width="42" />
      <span class="club-name"><%= club.get('name') %></span>
      
      <div class="description">
        <%= club.get('about_us') %> 
        <p><%= translate['contact'] %>:</p>
        <ul>
          <li><button id="call"></button></li>
          <li><button id="email"></button></li>
          <li><button id="facebook" href = <%= club.get('url_fb') %>></button></li>
        </ul>
      </div>

    </div>
  <% }); %>
</div>
