<div class="contact-wrap">
	<div class="clearfix">
		<ul>
			<li><a href="#" id="email" class="email"><span></span></a><span class="contact-text">Email</span></li>
			<li><a href="#" id="call" class="call"><span></span></a><span class="contact-text"><%= translate['phone'] %></span></li>
			<li><a href="http://facebook.com" id="facebook" class="facebook"><span></span></a><span class="contact-text">Facebook</span></li>
		</ul>
	</div>
</div>

