<div class="main-nav-wrap">
	<img src="/img/logo2.png" class="home-img" />

	<div data-type="list" style="display: block">
	  <ul>
	    <li><a href="#adventures" role="button"><%= translate['locations'] %></a></li>
	    <li><a href=<%= "#adventure/" + randomAdventureId %>><%= translate['take_me'] %></a></li>
	    <li><a href="#clubs"><%= translate['clubs'] %></a></li>
	    <li><a href="#page/gear"><%= translate['gear_up'] %></a></li>
	  </ul>
	</div>
</div>