
<div id="map-canvas" style="width: 100%;height: 100%"></div>
<footer class="adventures-footer">

  <a href=<%= "#adventure/" + checkpoints.at(0).get('location_id') %> class="back"><%= translate['back'] %></a>
  <a id="locate-me" href="#"><%= translate['geoloc'] %></a>
</footer>
