<header>
	<menu type="toolbar">
	  <a onclick="history.go(-1);" style="cursor:pointer"><%= menu.get("close") %></a>
	</menu>
	<h1>Menu:</h1>
</header>

<nav >
	<ul>
		<li><a href="#"><%= menu.get("home") %></a></li>
		<li><a href="#adventures"><%= menu.get("locations") %></a></li>
		<li><a href="#clubs"><%= menu.get("clubs") %></a></li>
		<li><a href="#page/gear"><%= menu.get("equipment") %></a></li>
		<li><a href="#contact"><%= menu.get("contact") %></a></li>
		<li><a href="#page/about"><%= menu.get("about") %></a></li>
	</ul>
	<h2>Language:</h2>
	<ul>
		<li><a id="EN" href="#" data-lang="EN">English</a></li>
		<li><a id="RS" href="#" data-lang="RS">Srpski</a></li>
	</ul>
</nav>

