<div class="page-wrap">
	<% if (typeof(page.get("image")) != "undefined") { %>
	    <img class="about-img" src=<%= page.get("image") %> />
	<% } %>

	<section class="about">
	  <article>
	    <h1><%= page.get("heading") %></h1>
	    <section class="page-content"><%= page.get("text") %></section>
	</section>

	 <footer class="adventures-footer">
	  <a href="#" class="back"><%= translate['back'] %></a>
	</footer>
</div>