.about{
	padding: 20px 20px 45px;
	background: #fff;
}

.about h1{
	margin: 0 0 18px 0;
}

.about p{
	font-size: 14px;
	color: #5C5C5C;
}

.about-img{
	position: relative;
	width: 100%;
	display: block;
}

.about ul{
	margin: 0 0 20px 12px;
}

.about a{
	font-size: 14px;
	color: #019875;
}

.page-wrap{
	background-color: #fff;
}