.adventures-list{
	background-color: #f3f3f3;
	padding-bottom: 42px;
}

.adventures-list a{
	border-bottom: 1px solid #d1d4d6;
	 -moz-transition:  all 0.25s;
	 color: #959595;
}

.adventures-list .title{
	color: #019875;
	font-size: 16px;
	margin-right: 5px;
	margin-bottom: -1px;
	font-weight: 500 !important;
}

.adventures-list a.acitve, .adventures-list a:hover{
	background-color: #fff;
}

.adventures-list a{
	display: block;
	text-align: left;
	padding: 18px 5px 18px 55px;
	color: #000;
	text-decoration: none;
	font-size: 1.8em;
	position: relative;
	background: url(/img/icons/arrow.png) no-repeat scroll 95% center;
}

.adventures-list a span, .adventures-list a div{
	font-size: 14px;
	color: #959595;
	display: inline-block;
	margin: 0 1px;
	font-weight: 400;
}

.adventures-list a img{
	background-color: lightgray;
	position: absolute;
	left: 4px;
	top: 8px;
	border: 2px solid #fff;
}

.adventure-icon{
	display: inline-block;
	border-right: 1px solid #fff;
}

.home-img{
	display: block;
	margin: 0 auto;
	width: 100%;
}

.arrow{
	color: #008EAB;
	float: left;
	font-size: 22px;
}

.adventures-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #019875;
}

.footer-links{
	height: 0px;
	overflow: hidden;
	-moz-transition:  height .25s ease-in-out;
	-moz-transform: translate3d(0,0,0);
}

.footer-links.active{
	height: 184px;
}

.footer-links a{
	display: block;
	color: #fff;
	border-bottom: 1px solid #0b8c6e;
	text-decoration: none;
	font-size: 14px;
	line-height: 45px;
	padding: 0 80px 0 75px;
	color: #fff;
	position: relative;
	font-weight: 600;
}

a.sort{
	float: right;
	margin-right: 20px;
	padding: 0 5px;
	display: block;
	z-index: 999;
}

a.back{
	margin-left: 20px;
}

a.back, a.sort{
	color: #fff;
	text-decoration: none;
	line-height: 45px;
	font-size: 14px;
}

.footer-links .icon{
	display: block;
	position: absolute;
	background: url(/img/icons/sort-sprite.png) no-repeat scroll 0 0;
	height: 30px;
	width: 40px;
	overflow: hidden;
	left: 15px;
	top: 8px;
}

.footer-links .icon.difficulty{
	background-position: 0 -29px;
}

.footer-links .icon.height{
	background-position: 0 -55px;
	left: 12px;
}

.footer-links .icon.alphabet{
	background-position: 0 -90px;
	height: 33px;
	left: 19px;
}

