.adventure-desciprtion{
	float: left;
	width: 100%;
}

.adventure-desciprtion h1{
	text-shadow: 1px 1px #fff;
	position: relative;
	padding: 2px 0 2px 58px;
	color: #374953;
	line-height: 50px;
	margin: 8px 0 25px;
}

.adventure-desciprtion h1 img{
	opacity: 0;
	transition: all 0.25s linear;
	-moz-transform: translate3d(0,0,0);
	max-width: 48px;
	vertical-align: middle;
	position: absolute;
	left: 0px;
	top: 4px;
}

.adventure-desciprtion h1 img.active{
	opacity: 1;
}

.adventure-desciprtion p.active{
	opacity: 1;
	height: auto;
	margin: 0 0 20px 0;
}

.adventure-desciprtion p.hidden{
	height: 0;
	opacity: 0;
	overflow: hidden;
	margin: 0
}

.adventure-desciprtion p{
	color: #5C5C5C;
	line-height: 28px;
	font-size: 14px;
	opacity: 1;
	transition: opacity .25s ease-in;
	font-stretch: condensed;
	font-style:condensed;
	-moz-transform: translate3d(0,0,0);
}

.geography{
	opacity: 1;
}

.options{
 	float: left;
 	width: 100%;
}

.options a{
	background-color: #f3f3f3;
	width: 25%;
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	color: #333;
}

.options span{
	display: block;
	border-right: 1px solid #fff;
	transition: 0.25s all;
	-moz-transform: translate3d(0,0,0);
}

.options span.active{
	background-color: #019875;
	color: #fff;
}

.options a:last-child span{
	border: none;
}

.adventure-desciprtion article{
	background-color: #fff;
	padding: 20px 20px 45px;
	float: left;
}

.swiper-container{
	float: left;
}

.swiper-container img, .swiper-container li, .swiper-wrapper, .swiper-container{
	display: block;
	width: 100%;
}

.adventure-desciprtion h1{
	margin: 0 0 18px;
}

.adventure-desciprtion .tab{
	display: none;
}

.adventure-desciprtion .tab.active{
	display: block;
}