.club-container {
	margin: 10px 0px;
}

.club-name {
	vertical-align: center;
	font-size: 16px;
	margin-left: 6px;
}

.club-container .description{
	height: 0;
	overflow: hidden;
	margin-left: 15px;
	margin-top: 2px;
	color: #6D6D6D;
}

.club-container .description p{
	font-size: 14px !important;
}

.club-container{
	background: url("/img/icons/arrow.png") no-repeat scroll 95% 18px transparent;
	color: #000000;
	display: block;
	font-size: 1.8em;
	padding: 18px 5px 18px 55px;
	position: relative;
	display: block;
	text-align: left;
	text-decoration: none;
	 border-bottom: 1px solid #D1D4D6;
    color: #959595;
    transition: all 0.25s ease 0s;
	transform: translate3d(0,0,0);
    margin: 0;
}

.club-container.active{
	background-color: #fff;
	background-image: none;
}

.club-container.active .description{
	height: auto;
    transition: height 0.25s ease 0s;
	transform: translate3d(0,0,0);
	font-size: 14px;
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 20px;
}

.club-container img{
	left: 10px;
	position: absolute;
	top: 10px;
}

.club-container li{
	float: left;
	margin-right: 15px;
}

.club-container button, .club-container a#facebook{
	width: 47px;
	display: inline-block;
	height: 47px;
	border: none;
	background-color: transparent;
	background: url(/img/icons/club_sprite.png) no-repeat scroll 0 -99px;
}

a#facebook{
	background-position: 0 -99px;
}

button#email{
	background-position: 0 0px;
}

button#call{
	background-position: 0 -49px;
}
