#contact-logo{
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
}

#social {
	text-align: center;
}

.contact-wrap{
	width: 100%;
	height: 100%;
	background: url(/img/contact_bg.jpg) no-repeat scroll 0 0;
	background-size: cover;
}

.contact-wrap a{
	vertical-align: middle;
	text-align: center;
	width: 58px; 
	height: 58px; 
	display: inline-block; 
	background-color: rgba(250,250,250,.3);
	border: 2px solid white; 
 	border-radius: 29px; 
 	margin: 0 auto 30px;
}

.contact-wrap a span{
 	background: url("/img/icons/contact_sprite.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 25px;
    margin: 18px auto;
    overflow: hidden;
    width: 35px;
}

.contact-wrap .call span{
	background-position: 0 -26px;
	height: 35px;
	margin-top:10px;
	width: 34px;
	margin-top: 13px;
}

.contact-wrap .facebook span{
	background-position: 0 -63px;
	height: 35px;
	margin-top: 10px;
	width: 34px;
	margin-top: 13px;	
}

.contact-wrap p{
	margin: 0 0 20px;
}

.contact-text{
	position: relative;
	top: -12px;
	right: -10px;
	color: #333;
}

.contact-wrap ul{
	text-align: left;
	padding-top: 60px;
	width: 165px;
	margin: 0 auto;
}