#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

#locate-me{
	z-index: 21321321;
	position: absolute;
	right: 20px;
	color: #fff;
	color: #FFFFFF;
    font-size: 14px;
    line-height: 45px;
    text-decoration: none;
    top: -1px;
}